*{border: 1px solid black;}.Items {
  display: flex;
  justify-content: space-evenly;
}

.image{
  width: 15%;
}

.info {
  width: 30%;
}

.purchase {
   width: 30%;
   display: flex;
   justify-content: flex-end;
}

img {
  width: 100%
}

.size{
  width: 20%;
}

.qty {
  width: 40%;
  margin-left: auto;
}

.price{
  margin-left: auto;
}

.itemplacement{

}

.sizeplacement {
  width: 20%;
}

.qtyplacement {
  width: 40%;
  margin-left: auto;
}

.priceplacement {
   margin-left: auto;
}
