/* *{
  border: 1px solid black;
 }*/

 .Items {
  display: flex;
  justify-content: space-evenly;
  margin: bottom;
}

.image{
  width: 15%;
}

.info {
  width: 30%;
}

.purchase {
   width: 30%;
   display: flex;
   justify-content: flex-end;
}

img {
  width: 100%
}

.size{
  width: 20%;
}

.qty {
  width: 40%;
  margin-left: auto;
}

.price{
  margin-left: auto;
}


.sizeplacement {
  width: 20%;
}

.qtyplacement {
  width: 40%;
  margin-left: auto;
}

.box{
  display: none;
  background: rgba(0,0,0,.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.smallerbox {
  background: white;
  width: 40%;
  height: 50%;
  position: relative;
  margin: 0 auto;
  text: center;

}

.visable {
  display: block;
}

.itemplacement {
 width: 60%;
 font-size: 20px;

}

.priceplacement {

}

.itemwords {
  display: flex;

}

.itemwordz {
  width: 40%;
  display: flex;

}

.checkoutbox {
  backgroung-color: green;
  height: 60%;
  width: 60%;

}


.checkout {
  display: flex;
}

.sizeplacement {
 text-align: center;
}

.qtyplacement {
  position: relative;
  right: 140px;
}

.priceplacement {
  position: relative;
  right: 80px;
}

.clickhere {
  font-size: 15px;
  color: blue;
}
